In [1]:
import pandas as pd

# 생산성 지표 계산

concat 파일로 지표 계산

In [2]:
# 데이터 불러오기
df = pd.read_csv('data/concat.csv', encoding= 'cp949')
print(df.shape)
df.head()

(20947, 34)

,회사명,거래소코드,회계년도,상장일,상장폐지일,영업손익,매출액,당기순이익,자본,이자비용,...,임차료,세금과공과,감가상각비,영업활동으로 인한 현금흐름(간접법)(*)(IFRS)(천원),자본(*)(요약)(IFRS)(백만원),부가가치(IFRS)(백만원),유형자산(요약)(IFRS)(백만원),기계장치(IFRS)(천원),(감가상각누계액)(IFRS)(천원),자산(*)(요약)(IFRS)(백만원)
0,(주)CMG제약,58820,2011/12,2001/08/31,NaN,640283.0,17751704.0,-1508282.0,18034249.0,181404.0,...,376.12,0.0,1344.09,-2488268.0,18291.0,3669.25,9653.0,3944218.0,1282580.0,27549.0
1,(주)CMG제약,58820,2012/12,2001/08/31,NaN,-4205503.0,16255389.0,-6660149.0,31590685.0,542880.0,...,401.09,0.0,1404.34,-1453276.0,31603.0,-88.04,9264.0,4288368.0,1801037.0,56989.0
2,(주)CMG제약,58820,2013/12,2001/08/31,NaN,791250.0,20402140.0,296181.0,48997281.0,1134104.0,...,243.90,0.0,1116.14,-3891420.0,49048.0,6952.08,10805.0,4595388.0,2201124.0,55962.0
3,(주)CMG제약,58820,2014/12,2001/08/31,NaN,442322.0,22752584.0,158039.0,49002644.0,122840.0,...,215.13,0.0,1464.84,730447.0,49067.0,7065.04,18834.0,7950710.0,2957604.0,58127.0
4,(주)CMG제약,58820,2015/12,2001/08/31,NaN,-2572168.0,27041894.0,-3650091.0,46806888.0,79830.0,...,195.67,0.0,1890.05,2411254.0,46873.0,4316.80,17822.0,8328336.0,3959213.0,56592.0

In [3]:
df.columns

Index(['회사명', '거래소코드', '회계년도', '상장일', '상장폐지일', '영업손익', '매출액', '당기순이익', '자본',
       '이자비용', '이자', '배당금', '영업활동으로인한현금흐름간접법', '발행한주식총수', '자산', '현금및현금성자산',
       '유동부채', '재고자산', '유동자산', '부채', '합계_기말인원', '법인세비용차감전계속사업손익', '인건비',
       '금융비용', '임차료', '세금과공과', '감가상각비', '영업활동으로 인한 현금흐름(간접법)(*)(IFRS)(천원)',
       '자본(*)(요약)(IFRS)(백만원)', '부가가치(IFRS)(백만원)', '유형자산(요약)(IFRS)(백만원)',
       '기계장치(IFRS)(천원)', '(감가상각누계액)(IFRS)(천원)', '자산(*)(요약)(IFRS)(백만원)'],
      dtype='object')

상장일 2개인 기업 확인

In [4]:
# 문제가 되는 특정 컬럼의 직원수만 미리 확인해보기

df_duo = df[['회사명', '거래소코드', '회계년도', '상장일', '상장폐지일', '합계_기말인원']]
print(df_duo['합계_기말인원'].isna().sum())
df_duo['합계_기말인원'].info()

2829
<class 'pandas.core.series.Series'>
RangeIndex: 20947 entries, 0 to 20946
Series name: 합계_기말인원
Non-Null Count  Dtype
--------------  -----
18118 non-null  float64
dtypes: float64(1)
memory usage: 163.8 KB

In [5]:
df_duo.dtypes

회사명         object
거래소코드        int64
회계년도        object
상장일         object
상장폐지일       object
합계_기말인원    float64
dtype: object

In [6]:
pd.set_option('display.max_row', 500)

df_duo[(df_duo['거래소코드'] == 192080) | 
    (df_duo['거래소코드'] == 26960) |
    (df_duo['거래소코드'] == 68270) |
    (df_duo['거래소코드'] == 35510) |
    (df_duo['거래소코드'] == 35720) |
    (df_duo['거래소코드'] == 3670)]

              회사명   거래소코드     회계년도         상장일       상장폐지일  합계_기말인원
1404    (주)더블유게임즈  192080  2014/12  2015/11/04  2019/03/12      NaN
1405    (주)더블유게임즈  192080  2014/12  2019/03/12         NaN      NaN
1406    (주)더블유게임즈  192080  2015/12  2019/03/12         NaN    152.0
1407    (주)더블유게임즈  192080  2015/12  2015/11/04  2019/03/12    152.0
1408    (주)더블유게임즈  192080  2016/12  2015/11/04  2019/03/12    163.0
1409    (주)더블유게임즈  192080  2016/12  2019/03/12         NaN    163.0
1410    (주)더블유게임즈  192080  2017/12  2015/11/04  2019/03/12    191.0
1411    (주)더블유게임즈  192080  2017/12  2019/03/12         NaN    191.0
1412    (주)더블유게임즈  192080  2018/12  2019/03/12         NaN    232.0
1413    (주)더블유게임즈  192080  2019/12  2019/03/12         NaN    248.0
1414    (주)더블유게임즈  192080  2020/12  2019/03/12         NaN    265.0
1587        (주)동서   26960  2011/12  2016/07/15         NaN    236.0
1588        (주)동서   26960  2011/12  1996/05/22  2016/07/15    236.0
1589        (주)동서   26960  2012/12  2016/07/15         NaN    257.0
1590        (주)동서   26960  2012/12  1996/05/22  2016/07/15    257.0
1591        (주)동서   26960  2013/12  2016/07/15         NaN    251.0
1592        (주)동서   26960  2013/12  1996/05/22  2016/07/15    251.0
1593        (주)동서   26960  2014/12  1996/05/22  2016/07/15    252.0
1594        (주)동서   26960  2014/12  2016/07/15         NaN    252.0
1595        (주)동서   26960  2015/12  2016/07/15         NaN    255.0
1596        (주)동서   26960  2015/12  1996/05/22  2016/07/15    255.0
1597        (주)동서   26960  2016/12  2016/07/15         NaN    255.0
1598        (주)동서   26960  2017/12  2016/07/15         NaN    255.0
1599        (주)동서   26960  2018/12  2016/07/15         NaN    274.0
1600        (주)동서   26960  2019/12  2016/07/15         NaN    282.0
1601        (주)동서   26960  2020/12  2016/07/15         NaN    278.0
4232      (주)셀트리온   68270  2011/12  2005/07/15  2018/02/09    655.0
4233      (주)셀트리온   68270  2011/12  2018/02/09         NaN    655.0
4234      (주)셀트리온   68270  2012/12  2005/07/15  2018/02/09    865.0
4235      (주)셀트리온   68270  2012/12  2018/02/09         NaN    865.0
4236      (주)셀트리온   68270  2013/12  2005/07/15  2018/02/09    980.0
4237      (주)셀트리온   68270  2013/12  2018/02/09         NaN    980.0
4238      (주)셀트리온   68270  2014/12  2005/07/15  2018/02/09   1054.0
4239      (주)셀트리온   68270  2014/12  2018/02/09         NaN   1054.0
4240      (주)셀트리온   68270  2015/12  2005/07/15  2018/02/09   1074.0
4241      (주)셀트리온   68270  2015/12  2018/02/09         NaN   1074.0
4242      (주)셀트리온   68270  2016/12  2018/02/09         NaN   1224.0
4243      (주)셀트리온   68270  2016/12  2005/07/15  2018/02/09   1224.0
4244      (주)셀트리온   68270  2017/12  2018/02/09         NaN   1422.0
4245      (주)셀트리온   68270  2018/12  2018/02/09         NaN   1777.0
4246      (주)셀트리온   68270  2019/12  2018/02/09         NaN   2111.0
4247      (주)셀트리온   68270  2020/12  2018/02/09         NaN   2158.0
4644   (주)신세계아이앤씨   35510  2011/12  2006/05/18         NaN    574.0
4645   (주)신세계아이앤씨   35510  2012/12  2006/05/18         NaN    579.0
4646   (주)신세계아이앤씨   35510  2013/12  2006/05/18         NaN    526.0
4647   (주)신세계아이앤씨   35510  2014/12  2006/05/18         NaN    520.0
4648   (주)신세계아이앤씨   35510  2015/12  2006/05/18         NaN    552.0
4649   (주)신세계아이앤씨   35510  2016/12  2006/05/18         NaN    565.0
4650   (주)신세계아이앤씨   35510  2017/12  2006/05/18         NaN    621.0
4651   (주)신세계아이앤씨   35510  2018/12  2006/05/18         NaN    729.0
4652   (주)신세계아이앤씨   35510  2018/12  2000/11/16  2006/05/18      NaN
4653   (주)신세계아이앤씨   35510  2019/12  2006/05/18         NaN    867.0
4654   (주)신세계아이앤씨   35510  2020/12  2006/05/18         NaN    923.0
9809       (주)카카오   35720  2011/12  2017/07/10         NaN   1307.0
9810       (주)카카오   35720  2011/12  1999/11/11  2017/07/10   1307.0
9811       (주)카카오   35720  2012/12  2017/07/10         NaN   1402.0
9812       (주)카카오   35720  2012/12  1999/11/11  2017/07/10   1402.0
9813       (주)카카오   35720  2013/12  2017/07/10         NaN   1539.0
9814       (주)카카오   35720  2013/12  1999/11/11  2017/07/10   1539.0
9815       (주)카카오   35720  2014/12  2017/07/10         NaN   2255.0
9816       (주)카카오   35720  2014/12  1999/11/11  2017/07/10   2255.0
9817       (주)카카오   35720  2015/12  2017/07/10         NaN   2474.0
9818       (주)카카오   35720  2015/12  1999/11/11  2017/07/10   2474.0
9819       (주)카카오   35720  2016/12  1999/11/11  2017/07/10   2697.0
9820       (주)카카오   35720  2016/12  2017/07/10         NaN   2697.0
9821       (주)카카오   35720  2017/12  2017/07/10         NaN   2549.0
9822       (주)카카오   35720  2018/12  2017/07/10         NaN   2705.0
9823       (주)카카오   35720  2019/12  2017/07/10         NaN   2701.0
9824       (주)카카오   35720  2020/12  2017/07/10         NaN   2837.0
11670   (주)포스코케미칼    3670  2011/12  2019/05/29         NaN   1332.0
11671   (주)포스코케미칼    3670  2011/12  2001/11/01  2019/05/29   1332.0
11672   (주)포스코케미칼    3670  2012/12  2019/05/29         NaN   1358.0
11673   (주)포스코케미칼    3670  2012/12  2001/11/01  2019/05/29   1358.0
11674   (주)포스코케미칼    3670  2013/12  2019/05/29         NaN   1350.0
11675   (주)포스코케미칼    3670  2013/12  2001/11/01  2019/05/29   1350.0
11676   (주)포스코케미칼    3670  2014/12  2019/05/29         NaN   1341.0
11677   (주)포스코케미칼    3670  2014/12  2001/11/01  2019/05/29   1341.0
11678   (주)포스코케미칼    3670  2015/12  2001/11/01  2019/05/29   1324.0
11679   (주)포스코케미칼    3670  2015/12  2019/05/29         NaN   1324.0
11680   (주)포스코케미칼    3670  2016/12  2001/11/01  2019/05/29   1265.0
11681   (주)포스코케미칼    3670  2016/12  2019/05/29         NaN   1265.0
11682   (주)포스코케미칼    3670  2017/12  2001/11/01  2019/05/29   1283.0
11683   (주)포스코케미칼    3670  2017/12  2019/05/29         NaN   1283.0
11684   (주)포스코케미칼    3670  2018/12  2001/11/01  2019/05/29   1393.0
11685   (주)포스코케미칼    3670  2018/12  2019/05/29         NaN   1393.0
11686   (주)포스코케미칼    3670  2019/12  2019/05/29         NaN   1705.0
11687   (주)포스코케미칼    3670  2020/12  2019/05/29         NaN   1795.0

In [7]:
# 상장일 2개 기업 확인
dup_listdate = df.groupby(['회사명','거래소코드'])['상장일'].nunique().reset_index()
dup_listdate[dup_listdate['상장일']>1]

             회사명   거래소코드  상장일
166    (주)더블유게임즈  192080    2
186        (주)동서   26960    2
508      (주)셀트리온   68270    2
558   (주)신세계아이앤씨   35510    2
1181      (주)카카오   35720    2
1405   (주)포스코케미칼    3670    2

In [8]:
# 상장일이 두개인 기업 리스트에 담기 
dup_listdate_company = dup_listdate['회사명'][dup_listdate['상장일']>1]
# dup_listdate_company

# 상장일 2개이면서 상장폐지일에 값이 있는 행 삭제 
df.drop(df[df['회사명'].isin(dup_listdate_company) & df['상장폐지일'].notnull()].index, inplace=True)
df.reset_index(drop=True, inplace=True)

In [9]:
# 작업 후 상장일 2개인 기업 재확인
dup_listdate_2 = df.groupby(['회사명','거래소코드'])['상장일'].nunique().reset_index()
dup_listdate_2[dup_listdate_2['상장일']>1]

Empty DataFrame
Columns: [회사명, 거래소코드, 상장일]
Index: []

In [10]:
# 상장일 2개 기업 제거 후 문제되는 기업만 재확인!
pd.set_option('display.max_row', 500)

df[['회사명','회계년도', '상장일','상장폐지일', '합계_기말인원']]\
   [(df['거래소코드'] == 192080) |
    (df['거래소코드'] == 26960) |
    (df['거래소코드'] == 68270) |
    (df['거래소코드'] == 35510) |
    (df['거래소코드'] == 35720) |
    (df['거래소코드'] == 3670)]

              회사명     회계년도         상장일 상장폐지일  합계_기말인원
1404    (주)더블유게임즈  2014/12  2019/03/12   NaN      NaN
1405    (주)더블유게임즈  2015/12  2019/03/12   NaN    152.0
1406    (주)더블유게임즈  2016/12  2019/03/12   NaN    163.0
1407    (주)더블유게임즈  2017/12  2019/03/12   NaN    191.0
1408    (주)더블유게임즈  2018/12  2019/03/12   NaN    232.0
1409    (주)더블유게임즈  2019/12  2019/03/12   NaN    248.0
1410    (주)더블유게임즈  2020/12  2019/03/12   NaN    265.0
1583        (주)동서  2011/12  2016/07/15   NaN    236.0
1584        (주)동서  2012/12  2016/07/15   NaN    257.0
1585        (주)동서  2013/12  2016/07/15   NaN    251.0
1586        (주)동서  2014/12  2016/07/15   NaN    252.0
1587        (주)동서  2015/12  2016/07/15   NaN    255.0
1588        (주)동서  2016/12  2016/07/15   NaN    255.0
1589        (주)동서  2017/12  2016/07/15   NaN    255.0
1590        (주)동서  2018/12  2016/07/15   NaN    274.0
1591        (주)동서  2019/12  2016/07/15   NaN    282.0
1592        (주)동서  2020/12  2016/07/15   NaN    278.0
4223      (주)셀트리온  2011/12  2018/02/09   NaN    655.0
4224      (주)셀트리온  2012/12  2018/02/09   NaN    865.0
4225      (주)셀트리온  2013/12  2018/02/09   NaN    980.0
4226      (주)셀트리온  2014/12  2018/02/09   NaN   1054.0
4227      (주)셀트리온  2015/12  2018/02/09   NaN   1074.0
4228      (주)셀트리온  2016/12  2018/02/09   NaN   1224.0
4229      (주)셀트리온  2017/12  2018/02/09   NaN   1422.0
4230      (주)셀트리온  2018/12  2018/02/09   NaN   1777.0
4231      (주)셀트리온  2019/12  2018/02/09   NaN   2111.0
4232      (주)셀트리온  2020/12  2018/02/09   NaN   2158.0
4629   (주)신세계아이앤씨  2011/12  2006/05/18   NaN    574.0
4630   (주)신세계아이앤씨  2012/12  2006/05/18   NaN    579.0
4631   (주)신세계아이앤씨  2013/12  2006/05/18   NaN    526.0
4632   (주)신세계아이앤씨  2014/12  2006/05/18   NaN    520.0
4633   (주)신세계아이앤씨  2015/12  2006/05/18   NaN    552.0
4634   (주)신세계아이앤씨  2016/12  2006/05/18   NaN    565.0
4635   (주)신세계아이앤씨  2017/12  2006/05/18   NaN    621.0
4636   (주)신세계아이앤씨  2018/12  2006/05/18   NaN    729.0
4637   (주)신세계아이앤씨  2019/12  2006/05/18   NaN    867.0
4638   (주)신세계아이앤씨  2020/12  2006/05/18   NaN    923.0
9793       (주)카카오  2011/12  2017/07/10   NaN   1307.0
9794       (주)카카오  2012/12  2017/07/10   NaN   1402.0
9795       (주)카카오  2013/12  2017/07/10   NaN   1539.0
9796       (주)카카오  2014/12  2017/07/10   NaN   2255.0
9797       (주)카카오  2015/12  2017/07/10   NaN   2474.0
9798       (주)카카오  2016/12  2017/07/10   NaN   2697.0
9799       (주)카카오  2017/12  2017/07/10   NaN   2549.0
9800       (주)카카오  2018/12  2017/07/10   NaN   2705.0
9801       (주)카카오  2019/12  2017/07/10   NaN   2701.0
9802       (주)카카오  2020/12  2017/07/10   NaN   2837.0
11648   (주)포스코케미칼  2011/12  2019/05/29   NaN   1332.0
11649   (주)포스코케미칼  2012/12  2019/05/29   NaN   1358.0
11650   (주)포스코케미칼  2013/12  2019/05/29   NaN   1350.0
11651   (주)포스코케미칼  2014/12  2019/05/29   NaN   1341.0
11652   (주)포스코케미칼  2015/12  2019/05/29   NaN   1324.0
11653   (주)포스코케미칼  2016/12  2019/05/29   NaN   1265.0
11654   (주)포스코케미칼  2017/12  2019/05/29   NaN   1283.0
11655   (주)포스코케미칼  2018/12  2019/05/29   NaN   1393.0
11656   (주)포스코케미칼  2019/12  2019/05/29   NaN   1705.0
11657   (주)포스코케미칼  2020/12  2019/05/29   NaN   1795.0

In [11]:
df.shape

(20917, 34)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20917 entries, 0 to 20916
Data columns (total 34 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   회사명                               20917 non-null  object
 1   거래소코드                             20917 non-null  int64
 2   회계년도                              20917 non-null  object
 3   상장일                               20917 non-null  object
 4   상장폐지일                             1200 non-null   object
 5   영업손익                              19204 non-null  float64
 6   매출액                               19204 non-null  float64
 7   당기순이익                             19204 non-null  float64
 8   자본                                19204 non-null  float64
 9   이자비용                              19204 non-null  float64
 10  이자                                19204 non-null  float64
 11  배당금                               19204 non-null  float64
 12  영업활동으로인한현금흐름간접법                   19204 non-null  float64
 13  발행한주식총수                           19204 non-null  float64
 14  자산                                19204 non-null  float64
 15  현금및현금성자산                          19204 non-null  float64
 16  유동부채                              19204 non-null  float64
 17  재고자산                              19204 non-null  float64
 18  유동자산                              19204 non-null  float64
 19  부채                                19204 non-null  float64
 20  합계_기말인원                           18090 non-null  float64
 21  법인세비용차감전계속사업손익                    18953 non-null  float64
 22  인건비                               18953 non-null  float64
 23  금융비용                              18953 non-null  float64
 24  임차료                               18953 non-null  float64
 25  세금과공과                             18953 non-null  float64
 26  감가상각비                             18953 non-null  float64
 27  영업활동으로 인한 현금흐름(간접법)(*)(IFRS)(천원)  19087 non-null  float64
 28  자본(*)(요약)(IFRS)(백만원)              19087 non-null  float64
 29  부가가치(IFRS)(백만원)                   18840 non-null  float64
 30  유형자산(요약)(IFRS)(백만원)               19087 non-null  float64
 31  기계장치(IFRS)(천원)                    19087 non-null  float64
 32  (감가상각누계액)(IFRS)(천원)               19087 non-null  float64
 33  자산(*)(요약)(IFRS)(백만원)              19087 non-null  float64
dtypes: float64(29), int64(1), object(4)
memory usage: 5.4+ MB

직원 수 : 기업별 평균 값으로 대체하기

In [13]:
# 직원 수 결측치 확인
print("직원수 컬럼 결측치 / 작업 전 : ")
print(df['합계_기말인원'].isna().sum())

직원수 컬럼 결측치 / 작업 전 :
2827

In [14]:
# 기업별 평균값으로 결측치 채우기
df['합계_기말인원'] = df['합계_기말인원'].fillna(df.groupby(['거래소코드', '상장일'])['합계_기말인원'].transform('mean'))

# 평균값 대체 후 결측치 확인
print("\n직원수 컬럼 결측치 / 평균값 대체 후 : ")
print(df['합계_기말인원'].isna().sum())

직원수 컬럼 결측치 / 평균값 대체 후 :
578

In [15]:
# 문제되는 기업 다시 확인!
pd.set_option('display.max_row', 500)

df[['회사명','회계년도', '상장일','상장폐지일', '합계_기말인원']] \
   [(df['거래소코드'] == 192080) | 
    (df['거래소코드'] == 26960) |
    (df['거래소코드'] == 68270) |
    (df['거래소코드'] == 35510) |
    (df['거래소코드'] == 35720) |
    (df['거래소코드'] == 3670)]

              회사명     회계년도         상장일 상장폐지일  합계_기말인원
1404    (주)더블유게임즈  2014/12  2019/03/12   NaN    208.5
1405    (주)더블유게임즈  2015/12  2019/03/12   NaN    152.0
1406    (주)더블유게임즈  2016/12  2019/03/12   NaN    163.0
1407    (주)더블유게임즈  2017/12  2019/03/12   NaN    191.0
1408    (주)더블유게임즈  2018/12  2019/03/12   NaN    232.0
1409    (주)더블유게임즈  2019/12  2019/03/12   NaN    248.0
1410    (주)더블유게임즈  2020/12  2019/03/12   NaN    265.0
1583        (주)동서  2011/12  2016/07/15   NaN    236.0
1584        (주)동서  2012/12  2016/07/15   NaN    257.0
1585        (주)동서  2013/12  2016/07/15   NaN    251.0
1586        (주)동서  2014/12  2016/07/15   NaN    252.0
1587        (주)동서  2015/12  2016/07/15   NaN    255.0
1588        (주)동서  2016/12  2016/07/15   NaN    255.0
1589        (주)동서  2017/12  2016/07/15   NaN    255.0
1590        (주)동서  2018/12  2016/07/15   NaN    274.0
1591        (주)동서  2019/12  2016/07/15   NaN    282.0
1592        (주)동서  2020/12  2016/07/15   NaN    278.0
4223      (주)셀트리온  2011/12  2018/02/09   NaN    655.0
4224      (주)셀트리온  2012/12  2018/02/09   NaN    865.0
4225      (주)셀트리온  2013/12  2018/02/09   NaN    980.0
4226      (주)셀트리온  2014/12  2018/02/09   NaN   1054.0
4227      (주)셀트리온  2015/12  2018/02/09   NaN   1074.0
4228      (주)셀트리온  2016/12  2018/02/09   NaN   1224.0
4229      (주)셀트리온  2017/12  2018/02/09   NaN   1422.0
4230      (주)셀트리온  2018/12  2018/02/09   NaN   1777.0
4231      (주)셀트리온  2019/12  2018/02/09   NaN   2111.0
4232      (주)셀트리온  2020/12  2018/02/09   NaN   2158.0
4629   (주)신세계아이앤씨  2011/12  2006/05/18   NaN    574.0
4630   (주)신세계아이앤씨  2012/12  2006/05/18   NaN    579.0
4631   (주)신세계아이앤씨  2013/12  2006/05/18   NaN    526.0
4632   (주)신세계아이앤씨  2014/12  2006/05/18   NaN    520.0
4633   (주)신세계아이앤씨  2015/12  2006/05/18   NaN    552.0
4634   (주)신세계아이앤씨  2016/12  2006/05/18   NaN    565.0
4635   (주)신세계아이앤씨  2017/12  2006/05/18   NaN    621.0
4636   (주)신세계아이앤씨  2018/12  2006/05/18   NaN    729.0
4637   (주)신세계아이앤씨  2019/12  2006/05/18   NaN    867.0
4638   (주)신세계아이앤씨  2020/12  2006/05/18   NaN    923.0
9793       (주)카카오  2011/12  2017/07/10   NaN   1307.0
9794       (주)카카오  2012/12  2017/07/10   NaN   1402.0
9795       (주)카카오  2013/12  2017/07/10   NaN   1539.0
9796       (주)카카오  2014/12  2017/07/10   NaN   2255.0
9797       (주)카카오  2015/12  2017/07/10   NaN   2474.0
9798       (주)카카오  2016/12  2017/07/10   NaN   2697.0
9799       (주)카카오  2017/12  2017/07/10   NaN   2549.0
9800       (주)카카오  2018/12  2017/07/10   NaN   2705.0
9801       (주)카카오  2019/12  2017/07/10   NaN   2701.0
9802       (주)카카오  2020/12  2017/07/10   NaN   2837.0
11648   (주)포스코케미칼  2011/12  2019/05/29   NaN   1332.0
11649   (주)포스코케미칼  2012/12  2019/05/29   NaN   1358.0
11650   (주)포스코케미칼  2013/12  2019/05/29   NaN   1350.0
11651   (주)포스코케미칼  2014/12  2019/05/29   NaN   1341.0
11652   (주)포스코케미칼  2015/12  2019/05/29   NaN   1324.0
11653   (주)포스코케미칼  2016/12  2019/05/29   NaN   1265.0
11654   (주)포스코케미칼  2017/12  2019/05/29   NaN   1283.0
11655   (주)포스코케미칼  2018/12  2019/05/29   NaN   1393.0
11656   (주)포스코케미칼  2019/12  2019/05/29   NaN   1705.0
11657   (주)포스코케미칼  2020/12  2019/05/29   NaN   1795.0

In [16]:
# 평균값 제대로 대체됐는지 확인 - ex. (주)지디 155960
df[['회사명','상장일','합계_기말인원']][(df['거래소코드'] == 155960)]

        회사명         상장일  합계_기말인원
9441  (주)지디  2013/02/13    248.0
9442  (주)지디  2013/02/13    203.0
9443  (주)지디  2013/02/13    325.0
9444  (주)지디  2013/02/13    324.0
9445  (주)지디  2013/02/13    295.0
9446  (주)지디  2013/02/13    223.0
9447  (주)지디  2013/02/13    118.0

생산성 지표 계산식 작성

In [17]:
## 계산식
# 종업원 1인당 부가가치율 = 부가가치(개별 재무제표 이용) / 직원 수 (합계_기말인원)
# 노동장비율 = 유형자산(개별 재무제표) / 직원 수
# 기계장비율 = (기계장치 - 감가상각누계액) / 직원 수
# 자본집약도 = 총자산(개별 재무제표) / 직원 수


df['종업원1인당부가가치율_계산'] = df['부가가치(IFRS)(백만원)'] / df['합계_기말인원']
df['노동장비율_계산'] = df['유형자산(요약)(IFRS)(백만원)'] / df['합계_기말인원']
df['기계장비율_계산'] = ((df['기계장치(IFRS)(천원)'] - df['(감가상각누계액)(IFRS)(천원)'])/1000) / df['합계_기말인원']
df['자본집약도_계산'] = df['자산(*)(요약)(IFRS)(백만원)'] / df['합계_기말인원']

In [18]:
# 문제되는 회사 - 생산성지표 작성 후 결과 확인

df[['회사명', '합계_기말인원', '종업원1인당부가가치율_계산', '노동장비율_계산', '기계장비율_계산', '자본집약도_계산']]\
   [(df['거래소코드'] == 192080)| 
    (df['거래소코드'] == 26960) | 
    (df['거래소코드'] == 68270) | 
    (df['거래소코드'] == 35510) | 
    (df['거래소코드'] == 35720) | 
    (df['거래소코드'] == 3670)]

,회사명,합계_기말인원,종업원1인당부가가치율_계산,노동장비율_계산,기계장비율_계산,자본집약도_계산
1404,(주)더블유게임즈,208.5,NaN,0.748201,0.000000,243.501199
1405,(주)더블유게임즈,152.0,363.577566,6.460526,0.000000,2516.539474
1406,(주)더블유게임즈,163.0,437.711963,6.809816,0.000000,2409.325153
1407,(주)더블유게임즈,191.0,223.798691,6.884817,0.000000,2197.565445
1408,(주)더블유게임즈,232.0,506.874397,5.168103,0.000000,2328.150862
1409,(주)더블유게임즈,248.0,544.766331,5.411290,0.000000,2790.483871
1410,(주)더블유게임즈,265.0,626.199358,4.094340,0.000000,2800.724528
1583,(주)동서,236.0,294.475381,240.292373,23.038360,3652.097458
1584,(주)동서,257.0,272.857510,216.147860,18.911210,3535.412451
1585,(주)동서,251.0,286.138606,214.984064,14.153414,3821.350598
1586,(주)동서,252.0,309.600516,201.392857,10.441456,3928.111111
1587,(주)동서,255.0,280.273373,192.643137,7.363592,4050.647059
1588,(주)동서,255.0,665.431608,187.631373,7.655455,5101.647059
1589,(주)동서,255.0,697.960980,182.984314,6.426063,5299.823529
1590,(주)동서,274.0,626.879672,162.624088,4.340047,5089.145985
1591,(주)동서,282.0,613.530674,211.092199,3.201993,5166.042553
1592,(주)동서,278.0,606.167050,134.625899,3.457978,5407.294964
4223,(주)셀트리온,655.0,360.072794,1149.923664,12.811316,2145.561832
4224,(주)셀트리온,865.0,332.364913,850.062428,12.942043,1998.381503
4225,(주)셀트리온,980.0,238.937082,726.430612,9.938111,2012.871429
4226,(주)셀트리온,1054.0,296.084658,656.313093,6.735696,1991.173624
4227,(주)셀트리온,1074.0,353.922663,624.048417,6.085302,2344.243017
4228,(주)셀트리온,1224.0,335.938023,530.588235,6.208375,2224.466503
4229,(주)셀트리온,1422.0,454.961111,447.249648,5.912597,2206.881153
4230,(주)셀트리온,1777.0,299.028633,381.469330,6.205749,1896.814294
4231,(주)셀트리온,2111.0,316.649114,332.272856,15.898893,1740.655140
4232,(주)셀트리온,2158.0,465.823475,322.354495,16.233993,2215.535218
4629,(주)신세계아이앤씨,574.0,102.340958,56.926829,0.000000,318.418118
4630,(주)신세계아이앤씨,579.0,102.435389,56.834197,0.000000,328.317789
4631,(주)신세계아이앤씨,526.0,109.468859,61.211027,0.000000,370.418251
4632,(주)신세계아이앤씨,520.0,110.130962,64.386538,0.000000,401.709615
4633,(주)신세계아이앤씨,552.0,96.870000,83.503623,0.000000,393.608696
4634,(주)신세계아이앤씨,565.0,107.314602,88.484956,0.000000,390.899115
4635,(주)신세계아이앤씨,621.0,121.719501,89.663446,0.000000,365.552335
4636,(주)신세계아이앤씨,729.0,147.068422,93.393690,0.000000,419.425240
4637,(주)신세계아이앤씨,867.0,113.095167,110.010381,0.000000,334.204152
4638,(주)신세계아이앤씨,923.0,198.734724,102.524377,0.000000,307.330444
9793,(주)카카오,1307.0,84.859036,66.716144,38.592685,394.286151
9794,(주)카카오,1402.0,62.192989,70.163338,38.424815,405.227532
9795,(주)카카오,1539.0,134.428661,75.867446,38.561979,390.869396
9796,(주)카카오,2255.0,139.594315,85.746785,40.966065,1222.098004
9797,(주)카카오,2474.0,156.943258,85.041633,43.139062,1259.928860
9798,(주)카카오,2697.0,141.610868,75.589915,37.733325,1790.618094
9799,(주)카카오,2549.0,209.879863,81.633582,42.993453,1944.636328
9800,(주)카카오,2705.0,192.075579,87.251756,47.684945,2293.101294
9801,(주)카카오,2701.0,65.870537,91.932988,49.459650,2400.726027
9802,(주)카카오,2837.0,136.325619,95.917166,58.441221,2589.180825
11648,(주)포스코케미칼,1332.0,197.618874,64.376877,24.117441,360.071321
11649,(주)포스코케미칼,1358.0,181.325162,69.373343,29.843587,392.784978
11650,(주)포스코케미칼,1350.0,170.805178,77.818519,35.325623,436.051852
11651,(주)포스코케미칼,1341.0,185.004072,87.626398,43.680451,482.772558
11652,(주)포스코케미칼,1324.0,154.867847,95.041541,50.020009,493.722810
11653,(주)포스코케미칼,1265.0,183.347178,107.721739,63.718828,555.997628
11654,(주)포스코케미칼,1283.0,192.192798,141.964147,80.030217,616.854248
11655,(주)포스코케미칼,1393.0,197.378399,188.659009,106.643366,601.483130
11656,(주)포스코케미칼,1705.0,174.363050,442.252786,148.962091,950.632258
11657,(주)포스코케미칼,1795.0,156.258100,504.870752,266.550885,1110.931476

In [19]:
df.columns

Index(['회사명', '거래소코드', '회계년도', '상장일', '상장폐지일', '영업손익', '매출액', '당기순이익', '자본',
       '이자비용', '이자', '배당금', '영업활동으로인한현금흐름간접법', '발행한주식총수', '자산', '현금및현금성자산',
       '유동부채', '재고자산', '유동자산', '부채', '합계_기말인원', '법인세비용차감전계속사업손익', '인건비',
       '금융비용', '임차료', '세금과공과', '감가상각비', '영업활동으로 인한 현금흐름(간접법)(*)(IFRS)(천원)',
       '자본(*)(요약)(IFRS)(백만원)', '부가가치(IFRS)(백만원)', '유형자산(요약)(IFRS)(백만원)',
       '기계장치(IFRS)(천원)', '(감가상각누계액)(IFRS)(천원)', '자산(*)(요약)(IFRS)(백만원)',
       '종업원1인당부가가치율_계산', '노동장비율_계산', '기계장비율_계산', '자본집약도_계산'],
      dtype='object')

# 전처리 part1 파일에 merge

In [20]:
# 파일 불러오기 : 1차 전처리 파일 - 스팩주 등등 외 중복 거래소코드 삭제 ver.

df_part1 = pd.read_csv('data/전처리part1.csv', encoding= 'CP949')
df_part1.drop(columns = 'Unnamed: 0', inplace = True)
print('shape : ', df_part1.shape)
df_part1.head()

shape :  (17809, 78)

,회사명,거래소코드,회계년도,상장일,상장폐지일,부실기업1,부실기업2,부실기업,업종,총자본증가율,...,총자본회전률,자기자본회전률,타인자본회전률,유동자산회전률,당좌자산회전률,재고자산회전률,매출채권회전률,순운전자본회전률,운전자본회전률,유형자산회전율
0,(주)CMG제약,58820,2011/12,2001/08/31,NaN,0.0,0.0,0,제조업,1.98,...,0.66,0.97,2.01,1.25,1.55,6.42,2.45,0.86,0.00,1.77
1,(주)CMG제약,58820,2012/12,2001/08/31,NaN,0.0,0.0,0,제조업,109.15,...,0.39,0.66,0.93,0.52,0.57,5.71,1.85,0.42,0.00,1.71
2,(주)CMG제약,58820,2013/12,2001/08/31,NaN,0.0,0.0,0,제조업,-2.09,...,0.36,0.51,1.26,0.48,0.52,5.39,2.07,0.42,0.79,2.03
3,(주)CMG제약,58820,2014/12,2001/08/31,NaN,0.0,0.0,0,제조업,3.86,...,0.40,0.46,2.85,0.68,0.80,4.77,1.86,0.56,0.74,1.54
4,(주)CMG제약,58820,2015/12,2001/08/31,NaN,0.0,0.0,0,제조업,-2.64,...,0.47,0.56,2.88,0.99,1.22,5.22,2.10,0.75,0.60,1.48

In [21]:
# 전처리 파일 개수 확인
print('전처리 part1 거래소코드 개수 :', df_part1['거래소코드'].nunique())
print('전처리 part1 회사명 개수 :', df_part1['회사명'].nunique())
print('전처리 part1 shape :', df_part1.shape)

# 계산파일 개수 확인
print('\n계산파일 거래소코드 개수 :', df['거래소코드'].nunique())
print('계산파일 shape :', df.shape)

전처리 part1 거래소코드 개수 : 2076
전처리 part1 회사명 개수 : 2076
전처리 part1 shape : (17809, 78)

계산파일 거래소코드 개수 : 2476
계산파일 shape : (20917, 38)

In [22]:
# merge
df_merge = pd.merge(df_part1, df, on = ['거래소코드', '회계년도', '상장일', '상장폐지일'], how = 'left')

print('merge 파일 shape :', df_merge.shape)
print('merge 파일 거래소코드 개수 :', df_merge['거래소코드'].nunique())
print('merge 파일 회사명 개수 :', df_merge['회사명_x'].nunique())
df_merge.head()

merge 파일 shape : (17809, 112)
merge 파일 거래소코드 개수 : 2076
merge 파일 회사명 개수 : 2076

,회사명_x,거래소코드,회계년도,상장일,상장폐지일,부실기업1,부실기업2,부실기업,업종,총자본증가율,...,자본(*)(요약)(IFRS)(백만원),부가가치(IFRS)(백만원),유형자산(요약)(IFRS)(백만원),기계장치(IFRS)(천원),(감가상각누계액)(IFRS)(천원),자산(*)(요약)(IFRS)(백만원),종업원1인당부가가치율_계산,노동장비율_계산,기계장비율_계산,자본집약도_계산
0,(주)CMG제약,58820,2011/12,2001/08/31,NaN,0.0,0.0,0,제조업,1.98,...,18291.0,3669.25,9653.0,3944218.0,1282580.0,27549.0,27.179630,71.503704,19.715837,204.066667
1,(주)CMG제약,58820,2012/12,2001/08/31,NaN,0.0,0.0,0,제조업,109.15,...,31603.0,-88.04,9264.0,4288368.0,1801037.0,56989.0,-0.657015,69.134328,18.562172,425.291045
2,(주)CMG제약,58820,2013/12,2001/08/31,NaN,0.0,0.0,0,제조업,-2.09,...,49048.0,6952.08,10805.0,4595388.0,2201124.0,55962.0,51.118235,79.448529,17.604882,411.485294
3,(주)CMG제약,58820,2014/12,2001/08/31,NaN,0.0,0.0,0,제조업,3.86,...,49067.0,7065.04,18834.0,7950710.0,2957604.0,58127.0,43.079512,114.841463,30.445768,354.432927
4,(주)CMG제약,58820,2015/12,2001/08/31,NaN,0.0,0.0,0,제조업,-2.64,...,46873.0,4316.80,17822.0,8328336.0,3959213.0,56592.0,27.671795,114.243590,28.007199,362.769231

merge 후 필요한 컬럼만 추출해서 파일로 저장

In [26]:
df_merge.columns

Index(['회사명_x', '거래소코드', '회계년도', '상장일', '상장폐지일', '부실기업1', '부실기업2', '부실기업',
       '업종', '총자본증가율',
       ...
       '자본(*)(요약)(IFRS)(백만원)', '부가가치(IFRS)(백만원)', '유형자산(요약)(IFRS)(백만원)',
       '기계장치(IFRS)(천원)', '(감가상각누계액)(IFRS)(천원)', '자산(*)(요약)(IFRS)(백만원)',
       '종업원1인당부가가치율_계산', '노동장비율_계산', '기계장비율_계산', '자본집약도_계산'],
      dtype='object', length=112)

In [29]:
df_merge2 = df_merge[['거래소코드', '회계년도', '상장일', '상장폐지일', '종업원1인당부가가치율_계산', '노동장비율_계산', '기계장비율_계산', '자본집약도_계산']]
print(df_merge2.shape)
df_merge2

(17809, 8)

,거래소코드,회계년도,상장일,상장폐지일,종업원1인당부가가치율_계산,노동장비율_계산,기계장비율_계산,자본집약도_계산
0,58820,2011/12,2001/08/31,NaN,27.179630,71.503704,19.715837,204.066667
1,58820,2012/12,2001/08/31,NaN,-0.657015,69.134328,18.562172,425.291045
2,58820,2013/12,2001/08/31,NaN,51.118235,79.448529,17.604882,411.485294
3,58820,2014/12,2001/08/31,NaN,43.079512,114.841463,30.445768,354.432927
4,58820,2015/12,2001/08/31,NaN,27.671795,114.243590,28.007199,362.769231
...,...,...,...,...,...,...,...,...
17804,3280,2016/12,1976/06/29,NaN,86.464501,709.037155,0.000000,1000.623142
17805,3280,2017/12,1976/06/29,NaN,44.778480,605.404995,0.000000,905.653637
17806,3280,2018/12,1976/06/29,NaN,2.412927,615.849246,0.000000,983.400754
17807,3280,2019/12,1976/06/29,NaN,9.921445,701.548673,0.000000,1140.268437
17808,3280,2020/12,1976/06/29,NaN,39.062117,584.615635,0.000000,927.579805

In [32]:
df_merge2.to_csv('data/생산성지표계산_merge_v2.csv',encoding='cp949',index=False)